.error {
  border: red 2.7px solid;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;

}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
 
  
  
}

.error-display{
  color: red;
  font-size: 14px;
}

.styles
{
  
     box-sizing: border-box;
      display: block;
      border: none;
      padding: 20px;
      width: 300px;
      margin: 40px auto;
      font-size: 18px;
      outline: none;
      text-align: center;
      box-shadow:inset 0 0 5px 5px ghostwhite;
      text-transform: uppercase;
      

}
input:focus
{
	background-color: white;
	outline: none;
  border: 3px solid rgba(81, 203, 238, 1);
}
