body{
  padding: 0;
  margin: 0;
}

.error {
  border: red 2.7px solid;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  /* -moz-appearance: textfield; */
  width: 30%;
  border: 1px solid rgb(141, 224, 250);
  padding: 10px;
  background-color: rgb(141, 224, 250);
  color: black;
  font-size: 30px;
  margin: 100px;
  text-align: center;
  border-radius: 4px;

}

input[type=String] {
  /* -moz-appearance: textfield; */
  width: 30%;
  border: 1px solid #D6D6D6;
  padding: 10px;
  background-color: #D6D6D6;
  color: black;
  font-size: 30px;
  margin: 20px;
  text-align: center;
  border-radius: 4px;

}




.error-display{
  color: #a94442;
  font-size: 14px;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}